body{
    background:#eee;
}

#logo{
    padding:0px;
}

#topbar{
    height:2px;
    background: #BE93C5;
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
    background: linear-gradient(to right, #7BC6CC, #BE93C5);
}

header{
    height:auto;
    overflow: hidden;
    padding-bottom:10px;
}


#nav > li > a{
    padding: 15px 25px;
}


#profile{
    border:solid 1px #ddd;
}

.block{
    display:block
}

.pointer{
    cursor:pointer;
}

.border{
    border:solid 1px #ddd;
}

.nav-bar .profile{
    margin-right:5px;
}

.navbar-nav .dropdown > a{
    padding-top:10px;
    padding-bottom:10px;
}

#content .left{
    padding-right:20px;
}

#content .item-list > li:last-child{
    border:none;
}

#content .item-list > li{
    height:auto;
    overflow:hidden;
    border-bottom:solid 1px #eee;
    background: #fff;
    padding:20px;
    margin-bottom:20px;
}

#content .item-list .img{
    padding:0px;
}

.right .message{
    padding-top:15px;
}

.right .author{
    background:none;
}

.label-mine {
    background: #CCCCCC;
}

.block{
    display:block;
}
.m-r-10{
    margin-right:10px;
}

.m-b-10{
    margin-bottom:10px;
}

.copyright{
    padding:30px 0px;
}

footer{
    height:auto;
    background:#fff;
}

.detail{
    background: #fff;
    padding:20px;
}

.detail h1{
    font-weight:normal;
    font-size:24px;
    margin-top:0px;
}

#content .pagination{
    float:right;
}

#tags .panel-body .active{
    background:#0099CC
}

.navbar-default {
    background: #fff;
}

.register{
    padding:50px 0px;
}

.login{
    padding:50px 0px;
}

.login .panel-default>.panel-heading{
    background:white;
}

.login .panel-default>.panel-footer{
    background:white;
}

.register .panel .panel-heading{
    background: #fff;
}

.course{
    padding-bottom:20px;
    height:auto;
    overflow: hidden;
}

.course .pic{
    background: #fff;
    padding:20px;
}

.course .lessons{
    background: #fff;
    padding:20px;
}

.no-padding{
    padding:0px;
}

.video{
    height:auto;
    overflow: hidden;
    margin-bottom:20px;
}

.video .lessons{
    background: #fff;
    border-radius: 1em;
}

.shadow{
    box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
    transition: all .2s ease;
}

.courses{

}

.courses .item{
    padding:15px;
    background: #fff;
    margin-bottom:20px;
}



